<footer class="text-center text-white position-bottom mt-auto" style="background-color: rgb(51, 51, 51)">
<div class="container">
  <!-- Section: Links -->
  <section class="mt-2">
    <div class="row text-center d-flex justify-content-center pt-3">
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href={% url "profili" %} class="text-white text-decoration-none">Profili</a>
        </h6>
      </div>

      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href={% url "librat" %} class="text-white text-decoration-none">Librat</a>
        </h6>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href={% url "kontakt" %} class="text-white text-decoration-none">Kontakt</a>
        </h6>
      </div>
    </div>
  </section>
  <!-- Section: Links -->

  <hr class="my-1" />

  <!-- Section: Text -->
  <section class="mt-2">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
        <div>Universiteti Politeknik i Tiranes</div>
        <div>Fakulteti Teknologjise se Informacionit</div>
        <div>Inxhinieri Informatike</div>
      </div>
    </div>
  </section>
  <!-- Section: Text -->

  <!-- Section: Social -->
  <section class="text-center my-2">
    <a
      href="https://www.facebook.com/"
      class="text-white me-4 text-decoration-none"
    >
      <i class="bi-facebook"></i>
    </a>
    <a
      href="https://www.twitter.com/"
      class="text-white me-4 text-decoration-none"
    >
      <i class="bi-twitter"></i>
    </a>
    <a
      href="https://www.google.com/"
      class="text-white me-4 text-decoration-none"
    >
      <i class="bi-google"></i>
    </a>
    <a
      href="https://www.instagram.com/"
      class="text-white me-4 text-decoration-none"
    >
      <i class="bi-instagram"></i>
    </a>
    <a
      href="https://www.linkedin.com/"
      class="text-white me-4 text-decoration-none"
    >
      <i class="bi-linkedin"></i>
    </a>
    <a
      href="https://www.github.com/"
      class="text-white me-4 text-decoration-none"
    >
      <i class="bi-github"></i>
    </a>
  </section>
  <!-- Section: Social -->
</div>

<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
  © 2022 Copyright
</div>
</footer>