{% extends 'main.html'%}{% block css %} 
    .book-background{background-image: url("https://t3.ftcdn.net/jpg/03/52/36/40/360_F_352364010_AbEmy0ze2w2oQWyuI1usP0g8P2wRXOlX.jpg");
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
    @media (max-width: 770px) { .border-sm-start-none { border-left: none !important; } }
    {%endblock css %} {%block content %}
    
    <div class="book-background py-3">
        <h3 class="text-center text-white fw-bold fst-italic mt-2" >Top librat me ne trend</h3>
        <form method="POST" action={% url "kerkimi" %} class="position-absolute end-0">
          {% csrf_token %}
          <div class="input-group me-3">
            <div class="form-outline">
              <input type="text" id="form1" class="form-control" name="searched" placeholder="Search..." />
            </div>
            <button type="submit" class="btn btn-warning">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
    </div>
      <section style="background-color: #eee;">
        <div class="container py-4">
        <div class="row justify-content-center  mb-3">
            <div class="fs-5 fst-italic text-secondary" style="width:80%;"><i class="bi bi-filter-left pe-1"></i>10 libra nga {{total}}</div>
        </div>
        {% for liber in page.object_list %}
          <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
              <div class="card shadow-lg border rounded-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                      <div class="bg-image hover-zoom ripple rounded ripple-surface">
                        <img src="{{liber.5}}"
                          class="w-50 ms-5" />
                        <a href="#!">
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                      <h5>{{liber.1}}</h5>

                      <h5 class="text-secondary fst-italic">{{liber.2}}</h5>
                      <div class="d-flex flex-row fs-5">
                        <span class="text-success mb-1 me-2">
                            <i class="bi bi-person-check-fill"></i>
                        </span>
                        <span class="fst-italic text-secondary">{{liber.6|add:"0"}}</span>
                      </div>
                      
                      <div class="mt-5 fs-5 fw-bold fst-italic">
                        <span class="text-secondary"> Viti i publikimit:</span>
                        <span class="text-info">{{liber.3|add:"0"}}</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                      <div class="d-flex flex-row align-items-center">
                        <span class="me-1 fs-6 pt-2">{{liber.7|floatformat:2}}</span>
                        <span class="text-danger fs-5">/10 <i class="bi bi-star-fill pb-5"></i></span>
                      </div>
                      <div class="d-flex flex-column mt-5">
                        <a href={% url 'liber' pk=liber.0 %} class="btn btn-primary btn-sm" type="button">Me shume...</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
            <ul class="pagination w-25 mx-auto">
              {% if page.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number}}">Pas</a></li>
              {% else %}
              <li class="page-item disabled"><span class="page-link">Pas</span></li>
              {% endif %}
              {% for i in range %}
                {% if page.number == i %}
                  <li class="page-item active" aria-current="page"><span class="page-link">{{ i }} </span></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}

              {% if page.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number}}">Para</a></li>
              {% else %}
              <li class="page-item disabled"><span class="page-link">Next Page</span></li>
              {% endif %}
            </ul>
        </div>
      </section>
    {% include 'footer.html' %}
    {% endblock content%} {% block title %}Kryefaqja{% endblock title %}
    